$h-font: 'Playfair Display', serif;
$t-font: 'Merriweather Sans', sans-serif;
$highlight-color: #FFCD43;
$section-color: #ff1849;
$main-accent: #222222;

html, body{
  background-color: $main-accent;
}

.uk-navbar-container{
  &.active-sticky{
    background-color: $main-accent;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
  }
}

a{
  &:hover{
    text-decoration: none;
  }
}

#highlightgirlcontainer{
   &.uk-sticky-fixed{
  z-index: 99;
}
}

.uk-modal-body{
  background: transparent;
}

.dropdown-style-a{
  background: $main-accent;
}

#mainnav{
  z-index: 99999;
  .uk-logo{
    color: #fff;
    font-family: $h-font;
  }
  .uk-navbar-nav > li > a{
    color: #fff;
    font-family: $h-font;
    text-transform: capitalize;
  }
  .uk-search-input{
    font-family: $h-font;
    color: #fff;
    font-size: 14px;
  }
  .uk-navbar-item{
    a{
      color: #fff;
      font-family: $t-font;
    }
  }
}

.min-header{
  margin-top: -80px;
}

header{
  min-height: 100vh;
  .gradient-overlay{
    background: linear-gradient(to top, rgba(34,34,34,1) 0%, rgba(34,34,34,0.95) 10%,  rgba(34,34,34,0.5) 45%, rgba(34,34,34,0) 100%);
  }
}

footer{
  .gradient-overlay{
    background: linear-gradient(to top, rgba(34,34,34,1) 0%,  rgba(34,34,34,0.8) 50%, rgba(34,34,34,1) 100%);
  }
  .uk-list{
      li{
        a{
          font-family: $t-font;
          font-size: 14px;
          color: #fff;
        }
    }
  }
}

h1,h2,h3,h4,h5,h6{
  font-family: $h-font;
  font-weight: 400;
  color: #dbdbdb;
  margin: 0;
  &.light{
    color: #fff;
  }
  &.text-highlight{
    color: $highlight-color;
  }
  &.text-responsive{
    font-size: calc(.02909*100vw + 21.09091px);
  }
}

.text-highlight{
  color: $highlight-color;
}

.back-text{
  font-size: calc(.02909*100vw + 100.09091px);
  position: absolute;
  z-index: 0;
  font-family: $h-font;
  color: #323232;
  opacity: 0.5;
  top : 50%;
  left: 0;
  transform: translate(0,-50%);
}


p{
  font-family: $t-font;
  font-weight: 300;
  color: #888888;
  font-size: 14px;
  line-height: 30px;

  &.light{
    color: #fff;
  }
}

.cursor-pointer{
  cursor: pointer;
}

.girl-card-container{
  .gradient-overlay{
    background: linear-gradient(to top, rgba(34,34,34,0.6) 0%, rgba(34,34,34,0.3) 35%, rgba(34,34,34,0) 100%);
    margin-bottom: -1px;
  }
  .tag{
    color: $highlight-color;
    font-weight: 800;
    margin-bottom: 5px;
  }
  .name{
    color: #fff;
    margin: 0;
  }
}

button{
  &.uk-button{
    background-color: #2a2a2a;
    border-radius: 5px;
    font-family: $t-font;
    color: #959595;
    transition: all 200ms ease-in-out;
    text-transform: capitalize;
    &.light{
      color: #fff;
    }
    &:hover{
      background-color: #262626;
      color: #fff;
    }
  }
  &.red-button{
    background: $section-color;
    color: #fff;
    border-radius: 10px;
    &:hover{
      background: $section-color;
      box-shadow: 0px 5px 20px rgba(255, 83, 88, 0.3);
    }
  }
}

a{
  &.uk-button{
    font-family: $h-font;
    text-transform: capitalize;
    color: #959595;
    transition: all 200ms ease-in-out;
    &:hover{
      color: #fff;
    }
    &.light{
      color: #fff;
    }
  }
  &.red-button{
    background: $section-color;
    color: #fff;
    border-radius: 10px;
    &:hover{
      background: $section-color;
      box-shadow: 0px 5px 20px rgba(255, 83, 88, 0.3);
    }
  }
  &.uk-button-text::before {
    /*right: 0;*/
}
}

.profile-card-container{
  border-radius: 5px;
  .header{
   background: #111111;
   .header-switcher{
     padding-left: 40px;
     padding-right: 40px;
   }
  }
  .photo-container{
    padding: 50%;
    margin-top: -60%;
  }
  .body{
    background: $main-accent;
    .info-container{

    }
  }
  ul.uk-tab{
    li{
      font-family: $h-font;
      /*letter-spacing: 2px;*/
      color: #fff;
      &.uk-active{
        a{
          color: #fff;
          border-color: $section-color;
        }
      }
      a{
        text-transform: capitalize;
      }
    }
  }
}

.section-header{
  color: $section-color;
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
}

input.uk-input, textarea.uk-textarea{
  background: $main-accent;
  font-family: $t-font;
  font-size: 14px;
  border-radius: 10px;
  color: #fff;
  &:focus{
    background: $main-accent;

    border-color: $section-color;
    color: #fff;
  }
}

.uk-notification-message-primary{
  background: $main-accent;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  font-family: $t-font;
  font-size: 14px;
  border-left: 3px solid $section-color;
}


.hover-animation-move-up{
  transition: all 200ms ease-in-out;
  &:hover{
    transform: translateY(-10px);
  }
}


.fade-enter-active,
.fade-leave-active {
  transition: all .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
    transition-duration: 0.5s;
    transition-property: height, opacity, transform;
    transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
    overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
    opacity: 0;
    transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
    opacity: 0;
    transform: translate(-2em, 0);
}

.list-complete-item {
  transition: all 1s;
  display: inline-block;
  margin-bottom: 10px;
}
.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(30px);
}
.list-complete-leave-active {
  position: absolute;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar:hover {
  width: 20px;
  height: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $main-accent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  transition: all 200ms ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.animation-spy{
  opacity: 0;
  &.start{
   opacity: 1;
  }
}

select{
  &.uk-select{
    background: $main-accent;
    color: #fff;
    font-family: $t-font;
    border: none;
    border-radius: 5px;
    &:focus{
        background: $main-accent;
      border: 0;
    }
  }
}

.badge-highlight{
  background: $main-accent;
  font-family: $h-font;
  color: $highlight-color;
  height: 25px;
  font-size: 18px;
}

.v--modal{
  background-color: transparent;
}



@media only screen and (max-width: 640px) {

  .girl-card{
    .container-overlay{
      .tag{
        margin: 0 0 -5px 0;
        .uk-icon{
          height: 15px;
          width: 15px;
        }
        font-size: 10px;
      }
      padding: 10px;
    }
  }
}

@media only screen and (max-width: 960px){
  .profile-card-container{
    .photo-container{

      margin-top: 0;
    }
  }

}
